<<<<<<< HEAD

/*
==========================================================================
   Common Variables and Mixins
========================================================================== */


$white: #fff;
$black: #000;


$main-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$helvetica: Helvetica, Arial, sans-serif;


@mixin transition-all($time) {
    -webkit-transition: all $time+s ease;
    -moz-transition: all $time+s ease;
    -o-transition: all $time+s ease;
    transition: all  $time+s ease;
}

@mixin transition($property, $time) {
    -webkit-transition: $property $time+s ease;
    -moz-transition: $property $time+s ease;
    -o-transition: $property $time+s ease;
    transition: $property $time+s ease;
}

@mixin box-shadow($top, $left, $color) {
    -webkit-box-shadow: $top $left $color;
    box-shadow: $top $left $color;
}

@mixin hide-text {
    overflow: hidden;
    text-indent: -9000px;
    display: block;
}

@mixin navigation-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    > li {
        display: block;
        float: left;
        &:last-child {
            margin-right:0px;
        }
    }
}

@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin rounded-corners($top-left, $top-right, $bottom-right, $bottom-left) {
    -webkit-border-top-left-radius: $top-left + px;
    -webkit-border-top-right-radius: $top-right + px;
    -webkit-border-bottom-right-radius: $bottom-right + px;
    -webkit-border-bottom-left-radius: $bottom-left + px;
    -moz-border-radius-topleft: $top-left + px;
    -moz-border-radius-topright: $top-right + px;
    -moz-border-radius-bottomright: $bottom-right + px;
    -moz-border-radius-bottomleft: $bottom-left + px;
    border-top-left-radius: $top-left + px;
    border-top-right-radius: $top-right + px;
    border-bottom-right-radius: $bottom-right + px;
    border-bottom-left-radius: $bottom-left + px;
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

// Calc Mixin Usage:
// .test {
//   @include calc(width, "25% - 1em");
// }

@mixin arrow-up($size, $color) {
    width: 0;
    height: 0;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
}

@mixin arrow-down($size, $color) {
    width: 0;
    height: 0;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
}

@mixin arrow-left($size, $color) {
    width: 0;
    height: 0;
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
}

@mixin arrow-right($size, $color) {
    width: 0;
    height: 0;
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
}



// Media queries

@mixin respond-to($media) {
    @if $media == small-mode {
        @media only screen and (max-width: 420px) { @content }
    }
    @else if $media == medium-mode {
        @media only screen and (max-width: 768px) { @content }
    }
    @else if $media == large-mode {
        @media only screen and (max-width: 980px) { @content }
    }
}


/*
==========================================================================
   Defaults & Rests
========================================================================== */

/* apply a natural box layout model to all elements */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
=======
/* ==========================================================================
   Defaults
   ========================================================================== */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

>>>>>>> origin/post-ssd

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
<<<<<<< HEAD
    line-height: 1.4em;
=======
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
>>>>>>> origin/post-ssd
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}


.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}



/*
==========================================================================
   Helper classes
========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}








