@import "bourbon";

// config settings
$button-contents: #fff;
$email: #0a88ff;
$facebook: #306199;
$linkedin: #007bb6;
$twitter: #26c4f1;
$googleplus: #e93f2e;
$youtube: #df1c31;
$pinterest: #b81621;
$github: #444;
$pocket: #ED4054;

$border-radius: 2px;

$main-font: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@mixin transition-all($time) {
    -webkit-transition: all $time+s ease;
    -moz-transition: all $time+s ease;
    -o-transition: all $time+s ease;
    transition: all  $time+s ease;
}

body {
	overflow-x: hidden;
}

a {
	text-decoration: none;
	font-weight: 500;
	color: $email;

	&:hover {
		color: shade($email, 55%);
	}
}

.main-container {
	padding: 1% 6%;

	h1 {
		letter-spacing: -.03em;
		color: #444;
		margin: 20px 0 10px 0;
		@include transition-all(0.2);


		@media screen and (min-width: 1024px)  {
        font-size: 40px;
    	}

	}

	h2 {
		color: #444;
	}

	p {
		font-size: 16px;
		line-height: 1.4em;

		@media screen and (min-width: 1024px)  {
        font-size: 20px;
    	}
	}
	img.rrssb-preview {
		width: 40%;
		height: auto;
		float: right;
		margin: 0 0 1% 1%;
		@include transition-all(0.2);

		@media screen and (max-width: 400px)  {
			// width: 100%;
			width: 60%;
			// margin: -25px 0 15px 0;
    	}

	}
	small {
		display: block;
		margin: 40px 0;
		font-size: 12px;
		color: #999;
	}
}

hr {
	background-color: #ddd;
	border: 0;
	height: 1px;
	margin: 0 0 10px 0;
}

.share-container {
	position: relative;
	padding: 0 0 25px;

	@media screen and (max-width: 320px)  {
		padding: 0 0 12px;
	}

	.label {
		color: #777;
		display: block;
		float: left;
		font-size: 14px;
		padding: 10px 0 0;
		width: 115px;

		@media screen and (max-width: 400px)  {
			display: none;
    	}

	}

	.rrssb-buttons {
		float: left;
		width: calc(100% - 116px);

		@media screen and (max-width: 400px)  {
        	width: 100%;
        	float: none;
        	clear: both;
    	}
	}
}