
hr {
	background-color: #ddd;
	border: 0;
	height: 1px;
	margin: 30px 0px 15px;
}

.share-container {
	position: relative;

	.label {
		color: #777;
		display: block;
		float: left;
		font-size: 14px;
		padding: 15px 0 0;
		width: 120px;
	}

	.rrssb-buttons {
		float: left;
		width: calc(100% - 121px);
	}
}