//grab the settings file for mixins and variables
@import "settings";
@import "bourbon";
@import "forms";

// @import "neat"



/* 
==========================================================================
   General Layout
========================================================================== */

body {
    font: $main-font;

}

.wrapper {
    width: 90%;
    margin: 0 5%;
}


/* 
==========================================================================
   Author's custom styles
========================================================================== */

















