@import "bourbon";


// config settings
$button-contents: #fff;
$email: #0a88ff;
$facebook: #306199;
$linkedin: #007bb6;
$twitter: #26c4f1;
$googleplus: #e93f2e;
$youtube: #df1c31;
$pinterest: #b81621;


// some generic classes
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


// the meat and potatoes
.rrsi-buttons {
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: auto;
	margin: 0;
	padding: 0;
	width: 100%;

	li {
		box-sizing: border-box;
		-moz-box-sizing:border-box;
		display: block;
		float: left;
		height: 100%;
		list-style: none;
		height: 36px;
		margin: 0;
		padding: 0 5px 0 0;

		a {
			box-sizing: border-box;
			-moz-box-sizing:border-box;
			background-color: #ccc;
			border-radius: 3px;
			display: block;
			font-size: 10px;
			height: 100%;
			letter-spacing: 1px;
			padding: 12px 7px 12px 27px;
			position: relative;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			width: 100%;
			@include transition (all 0.2s ease-in-out);

			.icon {
				display: block;
				height: 100%;
				left: 10px;
				padding-top: 9px;
				position: absolute;
				top: 0;
				width: 10%;

				svg {
					height: 17px;
					width: 17px;

					path, polygon {
						fill: $button-contents;
					}
				}
			}

			.text {
				color: $button-contents;
			}

			&:active {
				box-shadow:inset 1px 3px 15px 0 rgba(022,0,0,.25);
			}
		}

		&.email {
			a {
				background-color: $email;

				&:hover {
					background-color: shade($email, 25%);
				}

				&:active {
					background-color: shade($email, 40%);
				}
			}
		}

		&.facebook {
			a {
				background-color: $facebook;

				&:hover {
					background-color: shade($facebook, 25%);
				}
			}
		}

		&.linkedin {
			a {
				background-color: $linkedin;

				&:hover {
					background-color: shade($linkedin, 25%);
				}
			}
		}

		&.twitter {
			a {
				background-color: $twitter;

				&:hover {
					background-color: shade($twitter, 25%);
				}
			}
		}

		&.googleplus {
			a {
				background-color: $googleplus;

				&:hover {
					background-color: shade($googleplus, 25%);
				}
			}

			//custom path colors
			.style1 {
				//fill: #fff;
			}
			.style2 {
				fill: $googleplus;
			}
			.style3 {
				fill: $googleplus;
			}
		}

		&.youtube {
			a {
				background-color: $youtube;

				&:hover {
					background-color: shade($youtube, 25%);
				}
			}
		}

		&.pinterest {
			a {
				background-color: $pinterest;

				&:hover {
					background-color: shade($pinterest, 25%);
				}
			}
		}

		&.small {
			width: 36px !important;

			a {
				padding: 0;

				.icon {
					position: relative;
					margin: 0 auto;
					top: auto;
					left: auto;
					overflow: hidden;
					height: 100%;
					width: 100%;
				}
				.text {
					visibility: hidden;
				}
			}
		}
	}

	&.large-format {
		li {
			height: 47px;

			a {
				font-size: 13px;
				padding: 16px 7px 16px 27px;

				.icon {
					left: 15px;
					padding-top: 0;
					width: 12%;

					svg {
						height: 100%;
						width: 100%;
					}
				}
			}
		}
	}
}

















