// Ridiculously Responsive Social Sharing Buttons
// Team: @dbox, @seagoat
// Site: http://www.kurtnoble.com/labs/rrssb
// Twitter: @therealkni

//        ___           ___
//       /__/|         /__/\        ___
//      |  |:|         \  \:\      /  /\
//      |  |:|          \  \:\    /  /:/
//    __|  |:|      _____\__\:\  /__/::\
//   /__/\_|:|____ /__/::::::::\ \__\/\:\__
//   \  \:\/:::::/ \  \:\~~\~~\/    \  \:\/\
//    \  \::/~~~~   \  \:\  ~~~      \__\::/
//     \  \:\        \  \:\          /__/:/
//      \  \:\        \  \:\         \__\/
//       \__\/         \__\/


// config settings
$rrssb-txt: #fff !default;
$rrssb-email: #0a88ff !default;
$rrssb-facebook: #306199 !default;
$rrssb-tumblr: #32506d !default;
$rrssb-linkedin: #007bb6 !default;
$rrssb-twitter: #26c4f1 !default;
$rrssb-googleplus: #e93f2e !default;
$rrssb-reddit: #8bbbe3 !default;
$rrssb-youtube: #df1c31 !default;
$rrssb-pinterest: #b81621 !default;
$rrssb-github: #444 !default;

$rrssb-border-radius: 2px !default;

$rrssb-main-font: "Helvetica Neue", Helvetica, Arial, sans-serif !default;


@mixin transition($expression) {
    -webkit-transition: $expression;
    -moz-transition: $expression;
    -o-transition: $expression;
    transition: $expression;
}

%backface-visibility {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

%border-box {
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

// some generic classes
.clearfix {
	*zoom: 1;

	&:after {
		clear: both;
	}

	&:before,
	&:after {
		content: " ";
		display: table;
	}
}

// the meat and potatoes
.rrssb-buttons {
	@extend %border-box;
	font-family: $rrssb-main-font;
	height: 36px;
	margin: 0;
	padding: 0;
	width: 100%;

	li {
		@extend %border-box;
		display: block;
		float: left;
		height: 100%;
		list-style: none;
		height: 100%;
		margin: 0;
		padding: 0 2.5px;

		a {
			@extend %border-box;
			background-color: #ccc;
			border-radius: $rrssb-border-radius;
			display: block;
			font-size: 11px;
			font-weight: bold;
			height: 100%;
			padding: 11px 7px 12px 27px;
			position: relative;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			width: 100%;
			@include transition(background-color 0.2s ease-in-out);

			.icon {
				display: block;
				height: 100%;
				left: 10px;
				padding-top: 9px;
				position: absolute;
				top: 0;
				width: 10%;

				svg {
					height: 17px;
					width: 17px;

					path, polygon {
						fill: $rrssb-txt;
					}
				}
			}

			.text {
				color: $rrssb-txt;
			}

			&:active {
				box-shadow:inset 1px 3px 15px 0 rgba(022,0,0,.25);
			}
		}

		&.email {
			a {
				background-color: $rrssb-email;

				&:hover {
					background-color: darken($rrssb-email, 10%);
				}
			}
		}

		&.facebook {
			a {
				background-color: $rrssb-facebook;

				&:hover {
					background-color: darken($rrssb-facebook, 10%);
				}
			}
		}

		&.tumblr {
			a {
				background-color: $rrssb-tumblr;

				&:hover {
					background-color: darken($rrssb-tumblr, 10%);
				}
			}
		}

		&.linkedin {
			a {
				background-color: $rrssb-linkedin;

				&:hover {
					background-color: darken($rrssb-linkedin, 10%);
				}
			}
		}

		&.twitter {
			a {
				background-color: $rrssb-twitter;

				&:hover {
					background-color: darken($rrssb-twitter, 10%);
				}
			}
		}

		&.googleplus {
			a {
				background-color: $rrssb-googleplus;

				&:hover {
					background-color: darken($rrssb-googleplus, 10%);
				}
			}

			//custom path colors
			.style1 {
				//fill: #fff;
			}
			.style2 {
				fill: $rrssb-googleplus;
			}
			.style3 {
				fill: $rrssb-googleplus;
			}
		}

		&.youtube {
			a {
				background-color: $rrssb-youtube;

				&:hover {
					background-color: darken($rrssb-youtube, 10%);
				}
			}
		}

		&.reddit {
			a {
				background-color: $rrssb-reddit;

				&:hover {
					background-color: darken($rrssb-reddit, 10%);
				}
			}
		}

		&.pinterest {
			a {
				background-color: $rrssb-pinterest;

				&:hover {
					background-color: darken($rrssb-pinterest, 10%);
				}
			}
		}

		&.github {
			a {
				background-color: $rrssb-github;

				&:hover {
					background-color: darken($rrssb-github, 10%);
				}
			}
		}

		&.small {
			a {
				padding: 0;

				.icon {
					position: relative;
					margin: 0 auto;
					top: auto;
					left: auto;
					overflow: hidden;
					height: 100%;
					width: 100%;
				}
				.text {
					visibility: hidden;
				}
			}
		}
	}

	&.large-format {
		height: auto;

		li {
			height: auto;

			a {
				font-size: 13px;
				font-size: 1vw; // ZOMG!!
				padding: 7% 0% 7% 12%;
				border-radius: 0.2em;
				@extend %backface-visibility;

				.icon {
					left: 7%;
					padding-top: 0;
					width: 12%;

					svg {
						height: 100%;
						width: 100%;
					}
				}

				.text {
					font-size: 13px;
					font-size: 1vw; // ZOMG!!
					@extend %backface-visibility;
				}

				&:hover {
					font-size: 13px;
					font-size: 1vw; // ZOMG!!
					padding: 7% 0% 7% 12%;
					border-radius: 0.2em;
				}
			}
		}
	}
	&.small-format {
		padding-top: 5px;

		li {
			height: 80%;
			padding: 0 1.5px;

			a {

				.icon {
					height: 100%;
					padding-top: 0;

					svg {
						position: relative;
						top: 6px;
						height: 48%;
						width: 80%;
					}
				}
			}
		}
	}
	&.tiny-format {
		height: 22px;
		position: relative;

		li {
			padding-right: 7px;

			a {
				background-color: transparent;
				padding: 0;

				.icon {
					svg {
						height: 70%;
						width: 100%;
					}
				}

				&:hover {
					background-color: transparent;
				}

				&:active {
					background-color: transparent;
				}
			}

			&.email {
				a {
					.icon {
						svg {
							path, polygon {
								fill: $rrssb-email;
							}
						}
					}

					&:hover {
						.icon {
							svg {
								path, polygon {
									fill: darken($rrssb-email, 20%);
								}
							}
						}
					}
				}
			}

			&.facebook {
				a {
					.icon {
						svg {
							path, polygon {
								fill: $rrssb-facebook;
							}
						}
					}

					&:hover {
						.icon {
							svg {
								path, polygon {
									fill: darken($rrssb-facebook, 20%);
								}
							}
						}
					}
				}
			}

			&.linkedin {
				a {
					.icon {
						svg {
							path, polygon {
								fill: $rrssb-linkedin;
							}
						}
					}

					&:hover {
						.icon {
							svg {
								path, polygon {
									fill: darken($rrssb-linkedin, 20%);
								}
							}
						}
					}
				}
			}

			&.twitter {
				a {
					.icon {
						svg {
							path, polygon {
								fill: $rrssb-twitter;
							}
						}
					}

					&:hover {
						.icon {
							svg {
								path, polygon {
									fill: darken($rrssb-twitter, 20%);
								}
							}
						}
					}
				}
			}

			&.googleplus {
				a {
					.icon {
						svg {
							path, polygon {
								fill: $rrssb-googleplus;
							}
						}
					}

					&:hover {
						.icon {
							svg {
								path, polygon {
									fill: darken($rrssb-googleplus, 20%);
								}
							}
						}
					}
				}

				//custom path colors
				.style1 {
					//fill: #fff;
				}
				.style2 {
					fill: $rrssb-googleplus;
				}
				.style3 {
					fill: $rrssb-googleplus;
				}
			}

			&.youtube {
				a {
					.icon {
						svg {
							path, polygon {
								fill: $rrssb-youtube;
							}
						}
					}

					&:hover {
						.icon {
							svg {
								path, polygon {
									fill: darken($rrssb-youtube, 20%);
								}
							}
						}
					}
				}
			}

			&.pinterest {
				a {
					.icon {
						svg {
							path, polygon {
								fill: $rrssb-pinterest;
							}
						}
					}

					&:hover {
						.icon {
							svg {
								path, polygon {
									fill: darken($rrssb-pinterest, 20%);
								}
							}
						}
					}
				}
			}

			&.github {
				a {
					.icon {
						svg {
							path, polygon {
								fill: $rrssb-github;
							}
						}
					}

					&:hover {
						.icon {
							svg {
								path, polygon {
									fill: darken($rrssb-github, 20%);
								}
							}
						}
					}
				}
			}
		}
	}
}
